colorama==0.4.6
distlib==0.3.8
filelock==3.15.4
greenlet==3.1.1
loguru==0.7.3
platformdirs==4.2.2
SQLAlchemy==2.0.37
typing_extensions==4.12.2
virtualenv==20.26.3
virtualenvwrapper-win==1.2.7
win32_setctime==1.2.0
